* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.button {
    float: left;
    clear: both;
}
body {
    background: #eee;
    color: #555;
    font-family: "Segoe UI", Sans-Serif;
    font-size: 10pt;
}
h5 {
    font-size: 12pt;
}
form {
    margin-top: 30px;
}
form p {
    margin-bottom: 10px;
}
form label {
    float: left;
    width: 150px;
}
form input[type=text] {
    width: 500px;
    font-family: "Segoe UI", Sans-Serif;
    font-size: 10pt;
    padding: 10px;
}
form select {
    width: 521px;
    font-family: "Segoe UI", Sans-Serif;
    font-size: 10pt;
    padding: 10px;
}
form textarea {
    width: 500px;
    height: 350px;
    font-family: "Segoe UI", Sans-Serif;
    font-size: 10pt;
    padding: 10px;
}
form .buttons {
    width: 683px;
}
form .buttons input {
    float: right;
    margin-right: 10px;
}

.container {
    float: left;
    width: 100%;
    height: auto;
}
.userinfo {
    float: right;
    background: #414f56;
    color: #fff;
    font-size: 12pt;
    padding: 10px;
    margin-right: 20px;
}
.userinfo a {
    color: #ff3131;
    padding-left: 10px;
}
.sidebar {
    float: left;
    position: static;
    background: #414f56;
    color: #fff;
    width: 10%;
    height: 100%;
    min-height: 600px;
    max-width: 76px;
    text-align: center;
}
.sidebar .nav_blocks li {
    list-style: none;
    width: 100%;
    height: 76px;
    text-align: center;
}
.sidebar .nav_blocks li.spacer {
    height: 20px;
}
.sidebar .nav_blocks li a {
    color: #fff;
}
.searchbox {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}
.searchbox input[type=text] {
    width: 300px;
}
.content {
    float: left;
    width: 70%;
    height: 100%;
    padding-left: 20px;
    overflow: auto;
}
.jobs {
    float: left;
    clear: left;
    width: 80%;
    margin-top: 10px;
}
.jobs .job {
    float: left;
    padding: 15px;
    width: 700px;
}
.jobs .job h5 {
    font-weight: normal;
}
.jobs .job p {
    float: left;
    width: 650px;
}
.jobs .job .job_actions {
    float: right;
    position: relative;
    right: 10px;
    top: -10px;
}
.jobs .job .job_actions li {
    list-style: none;
}
.jobs .job:nth-child(even) {
    background: #e4e4ef;
}

.title {
    font-size: 22pt;
    padding: 5px 0px;
}
.red {
    color: #FF1300;
}
.redback {
    background: #FF1300 !important;
}
.green {
    color: #0099AC;
}
.greenback {
    background: #0099AC !important;
}
.blue {
    color: #28AFDF;
}
.blueback {
    background: #28AFDF !important;
}
.purple {
    color: #5938AF;
}
.purpleback {
    background: #5938AF !important;
}
.pink {
    color: #94009B;
}
.pinkback {
    background: #94009B !important;
}

.open {
    border-left: #FF1300 solid 3px;
}
.closed {
    border-left: #0099AC solid 3px;
}
.opentoolong {
    border-left: #DD1300;
}

.button {
    background: #28AFDF;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin: 5px;
    border: 0;
}